# Dependency directories
node_modules/
jspm_packages/

# backup file
*.bak

# Logs
logs/
*.log

#lock file
*.lock
package-lock.json

# yarn file
.yarn*
yarn*.*

# Optional npm cache directory
.npm
npm*.*

# Output of 'npm pack'
*.tgz

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components

# node-waf configuration
.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Optional eslint cache
.eslintcache